/* CSS Variables */
:root {
  /* Colors */
  --color-primary: #091057; /* Primary color */
  --color-secondary: #EC8305; /* Secondary color */
  --color-background: #f5f5f5; /* Background color */
  --color-text: #333; /* Text color */
  --color-text-light: #777; /* Light text color */
  --color-link: #3498db; /* Link color */
  --color-link-hover: #2980b9; /* Link hover color */
  
  /* Typography */
  --font-family-primary: 'Arial', sans-serif; /* Primary font */
  --font-family-secondary: 'Helvetica', sans-serif; /* Secondary font */
  --font-size-base: 16px; /* Base font size */
  --font-size-heading: 2rem; /* Heading font size */
  
  /* Spacing */
  --space-xs: 4px;
  --space-sm: 8px;
  --space-md: 16px;
  --space-lg: 32px;
  
  /* Borders */
  --border-radius: 8px; /* Border radius for rounded elements */
  --border-color: #e0e0e0; /* Border color */
  
  /* Shadows */
  --box-shadow-light: 0 1px 3px rgba(0, 0, 0, 0.1);
  --box-shadow-dark: 0 4px 6px rgba(0, 0, 0, 0.1);
}

/* Box sizing rules */
*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

/* Prevent font size inflation */
html {
  -moz-text-size-adjust: none;
  -webkit-text-size-adjust: none;
  text-size-adjust: none;
}

/* Remove default margin in favour of better control in authored CSS */
body, h1, h2, h3, h4, p,
figure, blockquote, dl, dd {
  margin-block-end: 0;
}

/* Remove list styles on ul, ol elements with a list role, which suggests default styling will be removed */
ul[role='list'],
ol[role='list'] {
  list-style: none;
}

/* Set core body defaults */
body {
  font-family: var(--font-family-primary);
  min-height: 100vh;
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: var(--color-background);
  color: var(--color-text);
}

/* Set shorter line heights on headings and interactive elements */
h1, h2, h3, h4,
button, input, label {
  line-height: 1.1;
}

/* Balance text wrapping on headings */
h1, h2,
h3, h4 {
  text-wrap: balance;
}

/* A elements that don't have a class get default styles */
a:not([class]) {
  text-decoration-skip-ink: auto;
  color: var(--color-link);
}

a {
  color: #0060B6;
  text-decoration: none;
}

a:hover {
  color:#00A0C6; 
  text-decoration:none; 
  cursor:pointer;  
}

/* Make images easier to work with */
img,
picture {
  max-width: 100%;
  display: block;
}

/* Inherit fonts for inputs and buttons */
input, button,
textarea, select {
  font-family: inherit;
  font-size: inherit;
}

/* Make sure textareas without a rows attribute are not tiny */
textarea:not([rows]) {
  min-height: 10em;
}

/* Anything that has been anchored to should have extra scroll margin */
:target {
  scroll-margin-block: 5ex;
}

.page {
  padding: 5px 10px;
}
