.container {
    height: 100vh;
}

.header {
    height: 20%;
    border-bottom: 1px solid var(--border-color);
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    padding: 10px;
}

.listing {
    padding: 10px;
}