.container {
  max-width: 600px;
  margin: 0 auto;
  padding-block: 20px;
}

.dropzone {
  border: 2px dashed #ccc;
  padding: 20px;
  text-align: center;
  cursor: pointer;

  &:hover {
    border-color: #777;
  }
}

.previews {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  margin-top: 20px;
}

.previewImage {
  width: 100px;
  height: 100px;
  object-fit: cover;
  cursor: pointer;
  border: 1px solid #ccc;
  border-radius: 4px;

  &:hover {
    border-color: #777;
  }
}

.modalControls {
  margin-top: 10px;
  display: flex;
  gap: 10px;

  button {
    padding: 5px 10px;
    cursor: pointer;
  }
}
